# Core functionality - changes here should be rare!
/src/app.py                   @shinichiromizuno
/src/backend/database.py      @shinichiromizuno
/src/backend/routers/auth.py  @shinichiromizuno

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shinichiromizuno
